.question__sec{
    /* border: 1px red solid; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 3rem;
    background: var(--color-primary);
}


.question__sec{
    background: transparent;
}



.faq{
    cursor: pointer;
    border-radius: 0 1.5rem 0 1.5rem;
    padding: 0.8rem;
    background: var(--color-gray-500);
}

.faq__icon{
    background: transparent;
    color: var(--color-gray-100);
}
.faq p{
    margin-top: 1rem;
}