.testimonial{
    /* border: 1px teal solid; */
    /* height: 400px; */
    /* width: 100px; */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 0 2rem 0 2rem;
    transition: all 0.5s;
    background: var(--color-gray-500);
}
.testimonial:hover{

   border: 1px solid wheat;
    background: var(--color-gray-600);
}
.testimonial div img{
    /* height: 50%; */
    width: 15%;
    height: 100%;
    border-radius: 50%;  
    /* position:static;
    top: -80px;   */

}
.testimonial p{
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-style: italic;
}
.testimonials__wrapper{
    margin: auto;
    overflow: hidden;
     /* display: flex;  */
     width: 700px;
     /* align-items: center;  */
     padding: 15 0px; 
     /* flex-direction: column;  */
     /* border: 1px red solid;  */

}
.testimonials__btn{
    cursor: pointer;
    margin-top: 20px;
    margin: auto;
    /* border: 1px red solid; */
    display: flex;
    
    width: 100px;
    justify-content: space-between;

}
.testimonials__btn button{
    padding: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--color-gray-100);
    background: transparent;
}
.testimonial div{
    /* margin-top: 1rem; */
    height: auto;
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    /* border: 1px red solid; */
}
.testimonial div div{
    display: flex;
    flex-direction: column;
    
}
.testimonial div div p{
    margin-top: 5px;
    font-style: italic;
}